<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>spring-ssm</display-name>

  <!--配置加载spring配置文件 ,springmvc.xml会在前端控制器初始化-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring.xml
      classpath:spring-mybatis.xml
    </param-value>
  </context-param>

  <!--配置监听器：ContextLoaderListener，说明：
    1.配置ContextLoaderListener监听器，用于监听ServletContext对象创建，一旦ServletContext对象创建，
    就创建spring的ioc容器。并且ioc容器放入ServletContext上下文中
    2.该监听器默认只能加载WEB-IFN目录下，名称叫做applicationContext.xml配置文件
    3.通过<context-param>全局参数标签，指定加载spring配置文件的位置
  -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>


  <!--配置前端控制器：DispatcherServlet-->
  <servlet>
    <servlet-name>springServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--加载主配置文件springmvc.xml-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath*:spring-mvc.xml</param-value>
    </init-param>

    <!--配置什么时候加载前端控制器，说明：
      1.配置大于等于0的整数，表示在tomcat启动的时候，就加载前端控制器
      2.配置小于0的整数，表示在第一次请求到达的时候加载前端控制器
    -->
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>springServlet</servlet-name>
    <!--配置请求的路径规则，说明：
      1.*.do，表示以.do结尾的请求进入前端控制器
      2./，表示所有请求都进入前端控制器
    -->
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <!--配置字符集编码过滤器：CharacterEncodingFilter-->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <!--指定使用的字符集编码-->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <!--配置所有请求都经过字符集编码过滤器处理-->
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>